/* Controles del carousel */
.carousel-indicators li {
    display: block;
    width: 14px;
    height: 14px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
  }
  .carousel-indicators .active {
    width: 14px;
    height: 14px;
    margin: 10px;
    background-color: #999;
  }
  .carousel-control-prev-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23999' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
  } 
  .carousel-control-next-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23999' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); 
  } 
  
  #carouselButtons {
    margin-left: 100px;
    position: absolute;
    bottom: 0px;
  }
  .carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    color: #999;
  }
  

  