<div id="carouselCaptions" class="carousel slide" data-ride="carousel" data-interval="2000">

    <ol class="carousel-indicators">
        <li data-target="#carouselCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselCaptions" data-slide-to="1"></li>
        <li data-target="#carouselCaptions" data-slide-to="2"></li>
        <li data-target="#carouselCaptions" data-slide-to="3"></li>
        <li data-target="#carouselCaptions" data-slide-to="4"></li>
    </ol>
  
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/alf-carrousel-img-1.png" class="d-block w-30 mx-auto" alt="Bienvenido a Alfred App!">
            <div class="carousel-caption d-md-block">
                <h2>Bienvenido a <b>Alfred</b></h2>
                <p>La aplicación para realizar tus peticiones de una manera fácil y rápida.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/alf-carrousel-img-2.png" class="d-block w-30 mx-auto" alt="Bienvenido a Alfred App!">
            <div class="carousel-caption d-md-block">
                <h2>Qu&eacute; es Alfred?</h2>
                <p>Tienes una necesidad? Necesitas algo? Accede a Alfred y registra tu solicitud</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/alf-carrousel-img-3.png" class="d-block w-30 mx-auto" alt="Bienvenido a Alfred App!">
            <div class="carousel-caption d-md-block">
                <h2>C&oacute;mo lo hago?</h2>
                <p>Reg&iacute;strate si a&uacute;n no lo has hecho y accede a la aplicaci&oacute;n. As&iacute; podr&aacute;s hacer tu petici&oacute;n</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/alf-carrousel-img-4.png" class="d-block w-30 mx-auto" alt="Bienvenido a Alfred App!">
            <div class="carousel-caption d-md-block">
                <h2>Es r&aacute;pido?</h2>
                <p>R&aacute;pido y muy f&aacute;cil. Nuestros especialistas se pondr&aacute;n con tu petici&oacute;n de inmediato</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/alf-carrousel-img-5.png" class="d-block w-30 mx-auto" alt="Bienvenido a Alfred App!">
            <div class="carousel-caption d-md-block">
                <h3>Cuando tu petici&oacute;n est&eacute; resuelta te lo comunicar&aacute;n de inmediato</h3>
                <p>***</p>
            </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselCaptions" role="button" data-slide="prev"> 
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>

</div>
