<div class="footer">
    <div class="row">
        <div class="col">
            <p class="links">@Alfred Support ha sido desarrollado por Biancotti Software Spain - <a href="mailto:info@biancotti.es">info@biancotti.es</a></p>
        </div>
    </div>
</div>
